:root {
    --dark: #142d4c;
    --light: #ececec;
    --navy: #385170;
    --aqua: #9fd3c7;
}

::selection {
    background-color: var(--aqua);
    color: var(--navy);
}

* {
    background-color: var(--dark);
}

h1, h2, h3 {
    color: var(--aqua);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

header p {
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding: 1.5rem;
}

section p {
    color: var(--aqua);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    flex-wrap: wrap;
    text-align: center;
}


code {
    color: var(--light);
    font-family: monospace;
    font-size: 100%;
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-image: linear-gradient(var(--dark), var(--navy));
}

code:active {
    user-select: all;
}

header {
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem;
    width: 90%
}

footer {
    text-align: center;
    font-size: 125%;
    margin: 0 auto;
    padding: 1.5rem;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 150%;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    justify-content: center;
    padding: 20px;
    gap: 20px;

}

main {
    width: 96%;
    margin: 2rem auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat (12, 1fr);
    gap: 20px;
    width: calc(100%/3);
    /* flex: 1 0 100%;
    padding: 1rem; */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.code-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    outline: 2px dashed var(--light)


}

/* @media screen and (min-width: 768px) { */
    /* on tablets, set columns to only be 50% of the width and not grow */
    /* .grid {
      flex: 0 0 50%;
      max-width: 33.3%;
    } */
  
    /* select the last child to grow to full width if it has space to grow */
    /* .grid:last-child {
      flex-grow: 1;
    }
  } */
  
  /* media query for larger screens */
  /* @media screen and (min-width: 992px) {
    header {
      width: 75%;
    }
  
    .grid {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }*/