:root {
    --dark: #142d4c;
    --light: #ececec;
    --navy: #385170;
    --aqua: #9fd3c7;
}

::selection {
    background-color: var(--aqua);
    color: var(--navy);
}

* {
    background-color: var(--dark);
}

h1 {
    font-size: 3rem;
    color: var(--aqua);
    text-align: center;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 2rem;
    color: var(--aqua);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 1.5rem;
    color: var(--aqua);
    text-align: center;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

header p {
    color: var(--light);
    text-align: center;
    margin-top: 1.5rem;
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
}

figure p {
    color: var(--aqua);
    font-size: .75rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 1rem;
}

code {
    color: var(--light);
    font-family: monospace;
    background-image: linear-gradient(var(--dark), var(--navy));
    white-space: pre-wrap;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    border-radius: 8px;
    tab-size: 4;
    /* overflow: auto; */
    padding: 1.2rem 1.2rem;
}

code:active {
    user-select: all;
}

.container {
    padding: 2rem;
}

.cell {
    padding: 1rem;
    border-style: dotted;
    outline: 1px dashed var(--light);
    margin: 1rem;
    transition: all 0.5s ease-in-out;
}


.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex > .cell {
    flex: 1 1 33%;
}

.cell-header {
    position: relative;
    margin-top: -40px;
    outline: 1px solid var(--light);
    padding: .5rem;
    border-radius: 8px;
}

.code-card .cell-header {
    transition: all 0.5s ease-in-out;
}

.code-card:hover, 
.code-card:hover .cell-header {
    box-shadow: inset 0px 0px 8px
    var(--light)), 0 0 15px
    var(var(--light));
}

@media screen and (min-width: 768px) {
    .cell {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .cell:last-child {
        flex-grow: 1;
    }
    
}

@media screen and (min-width: 992px) {
    header {
        width: 75%;
    }

    footer {
        width: 75%;
    }

    .cell {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
    
}
}